/* 
The CSS framework is
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
*/

/* ===========================
    WELCOME TO WANDERDOG CSS 
   =========================== */

/* CSS DIRECTORY
	1. =GLOBAL SETTINGS
	2. =MODALS
	3. =HERO!
	4. =USA STATES BOX
    5. =LINKS BOX
    6. =FUTURE DIV INFO BOX
    7. =SEARCH BOX
    8. =WEATHER BOX
    9. =FOOTER
    10. =MEDIA QUERIES
*/

/* COLORS
	- default body text-WHITE     color: #F6F7F8;
	- link text-GREEN             rgb(28, 209, 164);
	- background div color-BLACK  rgba(19, 19, 19, 0.795);
*/

/* FONTS
	font-family: 'Raleway', sans-serif;
*/

/* ==================
    =GLOBAL SETTINGS 
   ================== */

body {
    background: url("images/jf-brou-915UJQaxtrk-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #F6F7F8;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    word-break: keep-all;
}

#contentBox {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
}

.subtitle {
    padding-left: 10%;
}

/* ===============
       =MODALS 
   =============== */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-card-foot, .modal-card-head {
    background-color: #0f0e0d;
    border: none;
  }

  .modal-card-title {
      color: #F6F7F8;
      font-family: 'Raleway', sans-serif;
      font-size: 2rem;
  }

  .modalLink {
      color: rgb(28, 209, 164);
  }

  .modal-card-body {
      background: url("images/tadeusz-lakota-I-ti5nLU2Cc-unsplash.jpg");
      background-size: 100%;
      color: #F6F7F8;
      font-family: 'Raleway', sans-serif;
      font-size: 1.2rem;
  }

  /* The close button for the modal */
  .close {
    color: #F6F7F8;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modalPrompt {
      color: #F6F7F8;
      font-size: 1rem;
  }

/* ===============
        =HERO! 
   =============== */
.hero {
    position: relative;
}

.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
    margin-bottom: 20px;
    border-radius: 5px;
}

#creditHero {
    position: absolute;
    bottom: 0;
    right: 0;
}

#wanderDogTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

#wanderDogSlogan {
    font-family: 'Raleway', sans-serif;
}

/* =======================
       =USA STATES BOX 
   ======================= */
#us-map{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

path:hover, circle:hover {
    stroke: rgb(28, 209, 164) !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: rgb(28, 209, 164) !important;
    cursor: pointer;
}

#path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
}

#info-box {
    float: right;
    z-index: 1;
    background-color: #F6F7F8;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 550;
    margin-top: 5px;
}

#mapsBox {
    background-color: rgba(19, 19, 19, 0.795);
    position: relative;
    margin: 5px;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none !important;
}

.buttonGroup button {
    display: block;
}

.buttonGroup {
    position: absolute;
    right: 1%;
    top: 40%;
}

.tinyStatesBtn {
    margin: 5px;
    border: none;
}

.tinyStatesBtn:hover {
    background-color: rgb(28, 209, 164);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* ==================
       =LINKS BOX 
   ================== */

#infoBox {
    padding-left: 10px;
    background-color: rgba(19, 19, 19, 0.795);
    color: #F6F7F8;
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}

.tile.is-2 {
    flex: auto !important;
}
/* ========================
     =FUTURE DIV INFO BOX 
   ======================== */

/* =======================
        =SEARCH BOX 
   ======================= */

#searchTitle {
    color: #F6F7F8;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    word-break: keep-all;
    font-size: 2rem;
}

.tile.is-1 {
    flex: auto !important;
}

.label.is-medium {
    font-family: 'Raleway', sans-serif;
    color: #F6F7F8;
}

#cityInput {
    margin-bottom: 5px;
}

#searchBox {
    background-color: rgba(19, 19, 19, 0.795);
    margin: 5px;
    box-sizing: border-box;
    border-radius: 0px;
}

#searchBoxForm {
    width: 90%;
}

.input {
    border-radius: 0px;
}

.field.is-grouped.is-grouped-right {
    padding-left: 15px;
}
/* ==================
      =WEATHER BOX 
   ================== */

#weatherBox {
    background-color: rgba(19, 19, 19, 0.795);
    margin: 5px;
    border-radius: 0px;
}

h6 {
    font-family: 'Raleway', sans-serif;
    color: #F6F7F8 !important;
    font-style: italic;
    text-align: center;
    font-weight: 400 !important;
}

/* Weather icons */
i {
    font-size: 3rem;
}

.weatherTemp {
    font-family: 'Raleway', sans-serif;
    color: #F6F7F8 !important;
    font-weight: 400 !important;
}

.weatherCondition {
    font-family: 'Raleway', sans-serif;
    color: #F6F7F8 !important;
    font-weight: 400 !important;
}

/* =======================
          =FOOTER 
   ======================= */
.footer {
    background: transparent;
}

#footerTxt {
    background-color: rgba(246, 247, 248, 0.616);
    font-family: 'Montserrat', serif;
    color: #0f0e0d;
    display: inline-block;
    padding: 5px;
}

a {
    font-family: 'Montserrat', serif;
    color: #F6F7F8;
    font-size: 1.2rem;
}

#names {
    font-family: 'Montserrat', serif;
    color: rgb(10, 104, 80);
}

/* =======================
        =MEDIA QUERIES 
   ======================= */

@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
    #info-box {
        float: none;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    #info-box {
        float: none;
    }
    .buttonGroup button {
        display: auto;
    }
    .buttonGroup {
        position: relative;
    }
    .tinyStatesBtn {
        display: inline-block !important;
    }
    li {
        text-align: left;
    }
    p, li, a{
        font-size: medium;
    }
    #wanderDogTitle {
        font-size: 2rem;
    }
    .field.is-grouped {
        flex-wrap: wrap;
    }
    .field.is-grouped.is-grouped-right {
        padding-left: 15px;
    }
  }