/* 
The CSS framework I'd like to use is this--
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
*/


body {
    background: url("images/connectwork-red.jpg");
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #F6F7F8;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #F6F7F8;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

i {
    font-size: xx-large;
}

#wanderDogTitle {
    font-family: 'Baskervville', serif;
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

#wanderDogSlogan p {
    font-family: 'Montserrat', sans-serif;
}

.title {
    color: #ECA72C;
}

.subtitle {
    padding-left: 10%;
}

.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
    margin-bottom: 20px;
    border-radius: 5px;
}

#cityInput {
    margin-bottom: 5px;
}

#contentBox {
    margin: 0 auto;
}

#infoBox {
    padding-left: 10px;
    background-color: #FF3366;
    border-radius: 5px;
    color: #ECA72C;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

#searchBox {
    background-color: #F6F7F8;
    margin: 5px;
}

#mapsBox {
    background-color: #44355B;
    position: relative;
    border-radius: 5px;
    margin: 5px;
}

#resultLinks {
    position: absolute;
    bottom: 0;
    color: #ECA72C;
    padding-bottom: 10%;
    font-size: 24px;
    font-family: 'Montserrat', serif;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none !important;
}

#weatherBox {
    background-color: #ECA72C;
    margin: 5px;
}

#currentCityWeather {
    border-right: #44355B dashed 1px;
}

.footer {
    background: transparent;
}

#footerTxt {
    color: #F6F7F8;
}

a {
    color: #F6F7F8;
    font-size: 2rem;
}

li {
    color: #ECA72C;
    list-style-type:none;
}

.weatherTemp {
    font-family: 'Baskervville', serif;
}

.weatherCondition {
    font-family: 'Montserrat', sans-serif;
}

/* 
clickable map css */
#us-map{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  path:hover, circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #F6F7F8;
    border: 2px solid #FF3366;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }

/* Above is the map */


@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    #wanderDogTitle {
        font-size: 2rem;
    }
    .field.is-grouped {
        flex-wrap: wrap;
    }
    #currentCityWeather {
        border: none;
        border-bottom: #44355B dashed 1px;
    }
  }