/* 
The CSS framework I'd like to use is this--
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
                                    -CL
*/


body {
    background: url("images/connectwork-red.jpg");
}

i {
    font-size: xx-large;
}

#wanderDogTitle {
    font-family: 'Baskervville', serif;
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

#wanderDogSlogan p {
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    padding-left: 10%;
}

.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
    margin-bottom: 20px;
    border-radius: 5px;
}

#cityInput {
    margin-bottom: 5px;
}

/* colors can be altered; I used coolers.io to pick a color scheme. CL */

#btn25 {
    background-color: #FF3366;
}

#btn50 {
    background-color: #F6F7F8;
}

#btn100 {
    background-color: #44355B;
}

#btn50:hover {
    border-color: #ECA72C;
}

#contentBox {
    margin: 0 auto;
}

#welcomeBox {
    background-color: #FF3366;
}

#searchBox {
    background-color: #F6F7F8;
}

#mapsBox {
    background-color: #44355B;
    position: relative;
}

#resultLinks {
    position: absolute;
    bottom: 0;
    color: #ECA72C;
    padding-bottom: 10%;
    font-size: 24px;
    font-family: 'Montserrat', serif;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none !important;
}

/* somebody fix this box!!! it keeps getting out of its parent container and I can't stop it! */
#map {
    border: #F6F7F8 solid 1px;
    height: 100%;
}

#weatherBox {
    background-color: #ECA72C;
}

#currentCityWeather {
    border-right: #44355B dashed 1px;
}

.footer {
    background: transparent;
}

#footerTxt {
    color: #F6F7F8;
}

a {
    color: #ECA72C;
}

.weatherTemp {
    font-family: 'Baskervville', serif;
}

.weatherCondition {
    font-family: 'Montserrat', sans-serif;
}

/* 
clickable map css */
#us-map{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  path:hover, circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }

/* Above is the map */


@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    #wanderDogTitle {
        font-size: 2rem;
    }
    .field.is-grouped {
        flex-wrap: wrap;
    }
    #currentCityWeather {
        border: none;
        border-bottom: #44355B dashed 1px;
    }
  }