/* 
The CSS framework I'd like to use is this--
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
                                    -CL
*/
.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
}