/* 
The CSS framework I'd like to use is this--
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
                                    -CL
*/
body {
    background: url("images/connectwork-red.jpg");
}

#wanderDogTitle {
    font-family: 'Baskervville', serif;
    font-size: 72px;
}

#wanderDogSlogan p {
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    padding-left: 10%;
}

.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
    margin-bottom: 20px;
    border-radius: 5px;
}

/* colors can be altered; I used coolers.io to pick a color scheme. CL */

#contentBox {
    margin: 0 auto;
}

#welcomeBox {
    background-color: #FF3366;
}

#searchBox {
    background-color: #F6F7F8;
}

#mapsBox {
    background-color: #44355B;
}

#weatherBox {
    background-color: #ECA72C;
}

.footer {
    background: transparent;
}