/* 
The CSS framework I'd like to use is this--
https://bulma.io/documentation/
https://bulma.io/alternative-to-bootstrap/
*/

body {
    background: url("images/connectwork-red.jpg");
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .modal-card-foot, .modal-card-head {
    background-color: #0f0e0d;
    border: none;
  }

  .modal-card-title {
      color: #F6F7F8;
      font-family: 'Baskervville', serif;
      font-size: 2rem;
  }

  .modalLink {
      color: #ECA72C;
  }

  .modal-card-body {
      background: url("images/tadeusz-lakota-I-ti5nLU2Cc-unsplash.jpg");
      background-size: 100%;
      color: #F6F7F8;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.2rem;
  }

  /* The Close Button */
  .close {
    color: #F6F7F8;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #modalPrompt {
      color: #F6F7F8;
      font-size: 1rem;
  }

.hero {
    position: relative;
}

#creditHero {
    position: absolute;
    bottom: 0;
    right: 0;
}

i {
    font-size: 3rem;
}

.label.is-medium {
    font-family: 'Baskervville', serif;
    font-size: 1.7rem;
    color: #44355B;
}

#wanderDogTitle {
    font-family: 'Baskervville', serif;
    font-size: 5rem;
}

.image {
    padding-top: 0% !important;
    text-align: center;
}

#wanderDogSlogan {
    font-family: 'Montserrat', sans-serif;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    color: #F6F7F8 !important;
    font-style: italic;
    text-align: center;
}

.buttonGroup button {
    display: block;
}

.buttonGroup {
    position: absolute;
    right: 1%;
    top: 40%;
}

.tinyStatesBtn {
    margin: 5px;
    border: none;
}

.tinyStatesBtn:hover {
    background-color: #FF3366;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.title {
    color: #F6F7F8;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    word-break: keep-all;
}

#searchTitle {
    color: #44355B;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    word-break: keep-all;
    font-size: 2rem;
}

.content {
    margin: 0 auto;
}

.subtitle {
    padding-left: 10%;
}

.has-bg-img { 
    background: url("images/freddie-marriage-w39PTDxKiK8-unsplash.jpg")center center; 
    background-size:cover; 
    margin-bottom: 20px;
    border-radius: 5px;
}

#cityInput {
    margin-bottom: 5px;
}

#contentBox {
    margin: 0 auto;
}

#infoBox {
    padding-left: 10px;
    background-color: #FF3366;
    border-radius: 5px;
    color: #ECA72C;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    margin: 5px;
}

#searchBox {
    background-color: #F6F7F8;
    margin: 5px;
    box-sizing: border-box;
}

#searchBoxForm {
    width: 90%;
}

#mapsBox {
    background-color: #44355B;
    position: relative;
    border-radius: 5px;
    margin: 5px;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none !important;
}

#weatherBox {
    background-color: #ECA72C;
    margin: 5px;
}

#currentCityWeather {
    border-right: #44355B dashed 1px;
}

.footer {
    background: transparent;
}

#footerTxt {
    font-family: 'Montserrat', serif;
    color: #F6F7F8;
}

a {
    font-family: 'Montserrat', serif;
    color: #F6F7F8;
    font-size: 1.2rem;
}

#names {
    font-family: 'Montserrat', serif;
    color: #ECA72C;
}

.field.is-grouped.is-grouped-right {
    padding-left: 15px;
}

.weatherTemp {
    font-family: 'Baskervville', serif;
    color: #F6F7F8 !important;
}

.weatherCondition {
    font-family: 'Montserrat', sans-serif;
    color: #F6F7F8 !important;
}

.tile.is-2 {
    flex: auto !important;
}

.tile.is-1 {
    flex: auto !important;
}

/* 
clickable map css */
#us-map{
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  path:hover, circle:hover {
    stroke: #002868 !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: #002868 !important;
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
  }
  #info-box {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #F6F7F8;
    border: 2px solid #FF3366;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }

/* Above is the map */



@media screen and (max-width: 768px) {
    body {
      text-align: left;
    }
  }

  @media screen and (max-width: 640px) {
    body {
      text-align: center;
    }
    .buttonGroup button {
        display: auto;
    }
    .buttonGroup {
        position: relative;
    }
    .tinyStatesBtn {
        display: inline-block !important;
    }
    li {
        text-align: left;
    }
    p, li, a{
        font-size: medium;
    }
    #wanderDogTitle {
        font-size: 2rem;
    }
    .field.is-grouped {
        flex-wrap: wrap;
    }
    .field.is-grouped.is-grouped-right {
        padding-left: 15px;
    }
    #currentCityWeather {
        border: none;
        border-bottom: #44355B dashed 1px;
    }
  }